@model FinanceManagement.Models.Entities.Expense

@{
    ViewData["Title"] = "Expenses | Create";
}

<div class="banner--inner">
    <img src="https://source.unsplash.com/MJSFNZ8BAXw/1920x300" alt="Banner" />
    <div class="banner-caption">
        <h5>Create</h5>
    </div>
</div>

<div class="container">
    <h4>Expense</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MonthId" class="control-label">Month</label>
                    <select asp-for="MonthId" class="form-control" asp-items="ViewBag.MonthId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseTypeId" class="control-label">Expense Type</label>
                    <div class="input-group">
                        <select asp-for="ExpenseTypeId" class="form-control" asp-items="ViewBag.ExpenseTypeId"></select>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-dark" title="Add new" onclick="showCreateModal();"><i class="fas fa-plus-circle"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
                <div class="form-group">
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modalCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new expense type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control expenseTxt" placeholder="Enter the name of expense" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-add">Create</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function showCreateModal() {
            $('.modalCreate').modal('show');

            $('.btn-add').on('click', function () {
                let expenseTxt = $('.expenseTxt').val();

                $.ajax({
                    url: '/ExpenseTypes/AddExpenseType',
                    method: 'POST',
                    data: { expenseTxt: expenseTxt },
                    success: function (data) {
                        if (!data) {
                            $('.modalCreate').modal('hide');
                            $('.modalCreate').modal('dispose');
                            $('.btn-add').unbind('click');
                            expenseTxt = '';
                            alert('Expense type already exists!');
                        }

                        location.reload(true);
                    }
                });
            });
        }
    </script>
}
