@model FinanceManagement.Models.Entities.ExpenseType

@{
    ViewData["Title"] = "Create";
}

<div class="banner--inner">
    <img src="https://source.unsplash.com/NeTPASr-bmQ/1920x300" alt="Banner" />
    <div class="banner-caption">
        <h5>Create</h5>
    </div>
</div>

<div class="container">
    <h4>Create new expense type.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="col-form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
                <div class="form-group"><a asp-action="Index">Back to List</a></div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
