@model FinanceManagement.Models.Entities.Salary

@{
    ViewData["Title"] = "Edit";
}

<div class="banner--inner">
    <img src="https://source.unsplash.com/AOJGuIJkoBc/1920x300" alt="Banner" />
    <div class="banner-caption">
        <h5>Edit</h5>
    </div>
</div>

<div class="container">
    <h4>Edit salary.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SalaryId" />
                <div class="form-group">
                    <label asp-for="MonthId" class="control-label">Month</label>
                    <select asp-for="MonthId" class="form-control" asp-items="ViewBag.MonthId"></select>
                    <span asp-validation-for="MonthId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label">Value</label>
                    <input asp-for="Value" type="number" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-dark" />
                </div>
                <div class="form-group">
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
